.currency-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
    width: 450px;
    height: 200px;
    border: 1px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    background: rgba(255, 255, 255, 0.2); 
}

.header{
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(61, 61, 61); 
    border-bottom: 1px solid black;
    width: 85%; 
    text-align: center;
}


.amount{
    width: 80px;
    height: 25px;
    margin-right: 10px;
}

.result{
    width: 80px;
    height: 25px;
}

.from-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.to-currency-option{
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.exchange-button{
    width: 80px;
    height: 30px;
    background-color: rgb(162, 13, 13);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}

.flag {
    width: 32px;
    height: 32px;
    object-fit: contain;
    margin-right: 10px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
